{% extends 'layout.html.twig' %}

{% block title %}GRECO - Localización{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h3 class="titulo">Eliminar Localización</h3>
    </div>

    <div class="alert alert-danger">
        <i class="fa-solid fa-triangle-exclamation"></i> ¿Está segur@ de que deseas eliminar la localización?
    </div>

    {% if localizacion.subLocalizaciones is not empty %}
        <div class="alert alert-warning">
            <i class="fa-solid fa-triangle-exclamation"></i> Se borrarán sus localizaciones hijas.
        </div>
    {% endif %}

    <h5>Datos de la localización</h5>
    <ul class="list-group">
        <li class="list-group-item">Código: {{ localizacion.codigo }}</li>
        <li class="list-group-item">Nombre: {{ localizacion.nombre }}</li>
        {% if localizacion.descripcion is not null %}
            <li class="list-group-item">Descripción: {{ localizacion.descripcion }}</li>
        {% endif %}
        {% if localizacion.subLocalizaciones is not empty %}
            <li class="list-group-item"> Sublocalizaciones:
                <ul>
                    {% for subLocalizacion in localizacion.subLocalizaciones %}
                        <li>{{ subLocalizacion.nombreCompleto }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>

    <form method="post" class="mt-3">
        <a href="{{ path('localizacion_modificar', {'id': localizacion.id}) }}" class="btn btn-info"><i class="fa-solid fa-arrow-left"></i>Volver</a>
        <button type="submit" name="confirmar" value="ok" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Eliminar</button>
    </form>
{% endblock %}