{% extends 'layout.html.twig' %}

{% block title %}GRECO - Localizaci贸n{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado de las localizaciones</h2>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('localizacion_nueva') }}" class="btn btn-info">

                Nueva localizaci贸n
            </a>
        {% endif %}
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>C贸digo</th>
                <th>Nombre</th>
                <th>Descripci贸n</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for localizacion in pagination %}
                <tr>
                    <td>
                        {{ localizacion.codigo }}
                    </td>
                    <td>{{ localizacion.nombre }}</td>
                    <td>{{ localizacion.descripcion is null ? ' ' : localizacion.descripcion }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('localizacion_modificar', {'id': localizacion.id}) }}" class="btn btn-secondary">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{{ path('localizacion_eliminar', {'id': localizacion.id}) }}"  class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}