{% extends 'layout.html.twig' %}

{% block title %}GRECO - Localizaci贸n{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado de las localizaciones</h2>

        <small>
            <i class="fa-solid fa-layer-group" style="margin-right: 0.5em"></i>Localizaci贸n Padre
        </small>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>C贸digo</th>
                <th>Nombre</th>
                <th>Descripci贸n</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for localizacion in pagination %}
                <tr>
                    <td>
                        {% if localizacion.localizacionPadre %}
                            <i class="fa-solid fa-layer-group"></i> {{ localizacion.codigo }}
                        {% else %}
                            {{ localizacion.codigo }}
                        {% endif %}
                    </td>
                    <td>{{ localizacion.nombre }}</td>
                    <td>{{ localizacion.descripcion is null ? ' --- ' : localizacion.descripcion }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}