{% extends 'layout.html.twig' %}

{% block title %}GRECO - Localización{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado de las localizaciones</h2>

        <small>
            <i class="fa-solid fa-layer-group" style="margin-right: 0.5em"></i>Localización Padre
        </small>

        <a href="{{ path('localizacion_nueva') }}" class="btn btn-info">
            <i class="fa-solid fa-user-plus"></i>
            Nueva localización
        </a>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for localizacion in pagination %}
                <tr>
                    <td>
                        {% if localizacion.localizacionPadre %}
                            <i class="fa-solid fa-layer-group"></i> {{ localizacion.codigo }}
                        {% else %}
                            {{ localizacion.codigo }}
                        {% endif %}
                    </td>
                    <td>{{ localizacion.nombre }}</td>
                    <td>{{ localizacion.descripcion is null ? ' --- ' : localizacion.descripcion }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('localizacion_modificar', {'id': localizacion.id}) }}" class="btn btn-secondary">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{{ path('localizacion_eliminar', {'id': localizacion.id}) }}"  class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}