{% extends 'layout.html.twig' %}

{% block title %}GRECO - Localización{% endblock %}

{% block content %}
    <div class="barraArriba">
        {% if localizacion.id %}
            <h3 class="titulo">Modificar Localización</h3>
        {% else %}
            <h3 class="titulo">Nueva Localización</h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {% if subLocalizaciones is not empty %}
        <div class="jerarquia">
            <label>Localizaciones hija</label>

            <ul class="list-group lista">
                {% for subLocalizacion in subLocalizaciones %}
                    <li class="list-group-item">{{ subLocalizacion.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="mt-3">
        <a href="{{ path('localizacion_listar') }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i>Volver</a>
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Guardar</button>

        {% if localizacion.id %}
            <a href="{{ path('localizacion_eliminar', {'id': localizacion.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Eliminar</a>
        {% endif %}
    </div>

    {{ form_end(form) }}
{% endblock %}