{% extends 'layout.html.twig' %}

{% block title %}GRECO - Material{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h3 class="titulo">Listado del material</h3>

        <div>
            <label style="margin-right: 0.8em">Filtros:</label>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('material_listar') }}">Todos</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('material_disponible_listar') }}">Disponibles</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('material_noDisponible_listar') }}">No disponibles</a>
            {% if is_granted('ROLE_GESTOR') %}
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('codigos') }}">Códigos QR</a>
            {% endif %}
        </div>
    </div>

    <table class="table table-hover align-middle">
        <caption class="leyendaD">No disponible</caption>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Localización</th>
                <th>Descripción</th>
                <th>Último Préstamo</th>
                <th>Última Devolución</th>
                {% if is_granted('ROLE_GESTOR') %}
                    <th>
                        {% if is_granted('ROLE_GESTOR') %}
                            <a href="{{ path('material_nuevo') }}" class="btn btn-sm btn-info">
                                <i class="fa-solid fa-plus"></i> Nuevo material
                            </a>
                        {% endif %}
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for material in pagination %}
                <tr {% if not material.disponible %}class="no-disponible"{% endif %}>
                    <td>{{ material.codigo }}</td>
                    <td>{{ material.nombre }}</td>
                    <td>{{ material.localizacion is null ? '' : material.localizacion.nombre }}</td>
                    <td>{{ material.descripcion is null ? '' : material.descripcion }}</td>
                    <td>{{ material.fechaHoraUltimoPrestamo ? material.fechaHoraUltimoPrestamo|date('Y/m/d') : '' }}</td>
                    <td>{{ material.fechaHoraUltimaDevolucion ? material.fechaHoraUltimaDevolucion|date('Y/m/d') : '' }}</td>
                    {% if is_granted('ROLE_GESTOR') %}
                        <td>
                            <a href="{{ path('material_modificar', {'id': material.id}) }}" class="btn btn-secondary">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{{ path('material_eliminar', {'id': material.id}) }}" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No hay ningún material.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}