{% extends 'layout.html.twig' %}

{% block title %}GRECO - Material{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado del material</h2>

        <small class="leyendaD">No disponible</small>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Último Préstamo</th>
                <th>Última Devolución</th>
                <th>Localización</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for material in pagination %}
                <tr {% if not material.disponible %}class="no-disponible"{% endif %}>
                    <td>{{ material.nombre }}</td>
                    <td>{{ material.descripcion is null ? '---' : material.descripcion }}</td>
                    <td>{{ material.fechaHoraUltimoPrestamo ? material.fechaHoraUltimoPrestamo|date('Y/m/d') : '---' }}</td>
                    <td>{{ material.fechaHoraUltimaDevolucion ? material.fechaHoraUltimaDevolucion|date('Y/m/d') : '---' }}</td>
                    <td>{{ material.localizacion.nombre }}
                    <td>
                        <button type="button" class="btn btn-secondary">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}