{% extends 'layout.html.twig' %}

{% block title %}GRECO - Material{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado del material</h2>

        <small class="leyendaD">No disponible</small>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('material_nuevo') }}" class="btn btn-info">
                <i class="fa-solid fa-user-plus"></i>
                Nuevo material
            </a>
        {% endif %}
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Último Préstamo</th>
                <th>Última Devolución</th>
                <th>Localización</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for material in pagination %}
                <tr {% if not material.disponible %}class="no-disponible"{% endif %}>
                    <td>{{ material.nombre }}</td>
                    <td>{{ material.descripcion is null ? '' : material.descripcion }}</td>
                    <td>{{ material.fechaHoraUltimoPrestamo ? material.fechaHoraUltimoPrestamo|date('Y/m/d') : '' }}</td>
                    <td>{{ material.fechaHoraUltimaDevolucion ? material.fechaHoraUltimaDevolucion|date('Y/m/d') : '' }}</td>
                    <td>{{ material.localizacion is null ? '' : material.localizacion.nombre }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('material_modificar', {'id': material.id}) }}" class="btn btn-secondary">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="{{ path('material_eliminar', {'id': material.id}) }}" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}