{% extends 'layout.html.twig' %}

{% block title %}GRECO - Material{% endblock %}

{% block content %}
    <div class="barraArriba">
        {% if material.id %}
            <h2 class="titulo">Modificar Material</h2>
        {% else %}
            <h2 class="titulo">Nuevo Material</h2>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <a href="{{ path('material_listar') }}" class="btn btn-info"><i class="fa-solid fa-arrow-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-success">Guardar cambios</button>

    {% if material.id %}
        <a href="{{ path('material_eliminar', {'id': material.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Eliminar material</a>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}