{% extends 'layout.html.twig' %}

{% block title %}GRECO - Material{% endblock %}

{% block content %}
    <div class="barraArriba">
        {% if material.id %}
            <h3 class="titulo">Modificar Material</h3>
        {% else %}
            <h3 class="titulo">Nuevo Material</h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {% if subMateriales is not empty %}
        <div class="jerarquia">
            <label>Materiales hijos</label>

            <ul class="lista">
                {% for subMaterial in subMateriales %}
                    <li>{{ subMaterial.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <a href="{{ path('material_listar') }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i>Volver</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Guardar</button>

    {% if material.id %}
        <a href="{{ path('material_eliminar', {'id': material.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Eliminar</a>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}