{% extends 'layout.html.twig' %}

{% block title %}GRECO{% endblock %}

{% block content %}
    <div class="row" style="display: flex; justify-content: center; margin-top: 5em;">
        <div class="col-4">
            <a href="{{ path('localizacion_listar') }}">
                <div class="card text-center mb-3">
                    <img src="{{ asset('images/fondo_card_1.png') }}" class="card-img" alt="fondo carta">
                    <div class="card-img-overlay" style="display: flex; align-items: center; flex-direction: column; justify-content: center; gap: 0.5em;">
                        <i class="fa-solid fa-location-dot"></i>
                        <h5 class="card-title">Localizaciones</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a href="{{ path('material_listar') }}">
                <div class="card text-center mb-3">
                    <img src="{{ asset('images/fondo_card_2.png') }}" class="card-img" alt="fondo carta">
                    <div class="card-img-overlay" style="display: flex; align-items: center; flex-direction: column; justify-content: center; gap: 0.5em;">
                        <i class="fa-solid fa-box"></i>
                        <h5 class="card-title">Materiales</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row" style="display: flex; justify-content: center; margin-top: 0.5em;">
        <div class="col-4">
            <a href="{{ path('historial_listar') }}" style=":hover {transition: all 0.2s ease-out; top: -4px; border: 1px solid #cccccc;}">
                <div class="card text-center mb-3">
                    <img src="{{ asset('images/fondo_card_4.png') }}" class="card-img" alt="fondo carta">
                    <div class="card-img-overlay" style="display: flex; align-items: center; flex-direction: column; justify-content: center; gap: 0.5em;">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <h5 class="card-title">Historial</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a href="{{ path('persona_listar') }}">
                <div class="card text-center mb-3">
                    <img src="{{ asset('images/fondo_card_3.png') }}" class="card-img" alt="fondo carta">
                    <div class="card-img-overlay" style="display: flex; align-items: center; flex-direction: column; justify-content: center; gap: 0.5em;">
                        <i class="fa-solid fa-users"></i>
                        <h5 class="card-title">Personal</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}