{% extends 'layout.html.twig' %}

{% block title %}GRECO - Historial{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado de los préstamos</h2>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Material</th>
                <th>Prestado a</th>
                <th>Prestado por</th>
                <th>Fecha Préstamo</th>
                <th>Fecha Devolución </th>
                <th>Notas</th>
                {% if is_granted('ROLE_GESTOR') %}
                    <th>
                        <a href="{{ path('historial_nuevo') }}" class="btn btn-sm btn-info">
                            <i class="fa-solid fa-plus"></i> Nuevo préstamo
                        </a>
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for historial in pagination %}
                <tr>
                    <td>{{ historial.material.nombre }} ({{ historial.material.codigo }})</td>
                    <td>{{ historial.prestadoA.apellidos }}, {{ historial.prestadoA.nombre }}</td>
                    <td>{{ historial.prestadoPor.apellidos }}, {{ historial.prestadoPor.nombre }}</td>
                    <td>{{ historial.fechaHoraPrestramo|date('d/m/y') }}</td>
                    <td>{{ historial.fechaHoraDevolucion is null ? '' : historial.fechaHoraDevolucion|date('d/m/y') }}</td>
                    <td>{{ historial.notas is null ? '---' : historial.notas }}</td>
                    {% if is_granted('ROLE_GESTOR') and not historial.fechaHoraDevolucion %}
                        <td>
                            <a href="{{ path('historial_modificar', {'id': historial.id}) }}" class="btn btn-secondary">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No se ha realizado ningún préstamo.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}