{% extends 'layout.html.twig' %}

{% block title %}GRECO - Persona{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Cambiar contraseña</h2>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group row">
        <div class="col-sm-10">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('persona_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i>Volver</a>
            {% endif %}

            {% if is_granted('ROLE_USUARIO') %}
                <a href="{{ path('welcome') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i>Volver</a>
            {% endif %}

            <button type="submit" id="modificar_persona_enviar" name="guardar" class="btn-primary btn">
                <i class="fa fa-check"></i>Guardar
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}