{% extends 'layout.html.twig' %}

{% block title %}GRECO - Personas{% endblock %}

{% block content %}
    <h2 class="titulo">Listado del personal</h2>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Nombre Usuario</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>¿Administrador?</th>
                <th>¿Gestor préstamos?</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for persona in pagination %}
                <tr>
                    <td>{{ persona.nombreUsuario }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellidos }}</td>
                    <td>{{ persona.administrador ? 'Sí' : 'No' }}</td>
                    <td>{{ persona.gestorPrestamos ? 'Sí' : 'No' }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}