{% extends 'layout.html.twig' %}

{% block title %}GRECO - Personas{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h2 class="titulo">Listado del personal</h2>

        <a href="{{ path('persona_nueva') }}" class="btn btn-info">
            <i class="fa-solid fa-user-plus"></i>
            Nueva persona
        </a>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Nombre Usuario</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Administrador</th>
                <th>Gestor préstamos</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for persona in pagination %}
                <tr>
                    <td>{{ persona.nombreUsuario }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellidos }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                   disabled {% if persona.administrador %}checked{% endif %}>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                   disabled {% if persona.gestorPrestamos %}checked{% endif %}>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('persona_modificar', {'id': persona.id}) }}" class="btn btn-secondary">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="{{ path('persona_eliminar', {'id': persona.id}) }}" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">NO hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}