{% extends 'layout.html.twig' %}

{% block title %}GRECO - Persona{% endblock %}

{% block content %}
    <div class="barraArriba">
        {% if persona.id %}
            <h3 class="titulo">Modificar Persona</h3>
        {% else %}
            <h3 class="titulo">Nuevo Persona</h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <a href="{{ path('persona_listar') }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i>Volver</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Guardar</button>

    {% if persona.id %}
        <a href="{{ path('persona_eliminar', {'id': persona.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Eliminar</a>
    {% endif %}

    {% if persona.id %}
        <a href="{{ path('persona_cambiar_clave', {'id': persona.id}) }}" class="btn btn-info"><i class="fa-solid fa-lock"></i>Cambiar contraseña</a>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}