{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USUARIO') %}
        <nav class="navbar custom-navbar">
            <div class="container-fluid">
                <div class="logoTitulo">
                    <a href="{{ path('welcome') }}">
                        <img src="{{ asset('images/logo_greco_letra.png') }}" class="logo"/>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('localizacion_listar') }}">Localizaciones</a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('material_listar') }}">Materiales</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('historial_listar') }}">Préstamos</a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('persona_listar') }}">Personal</a>
                                </li>
                            {% endif %}

                            <hr>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ajustes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('persona_cambiar_clave', {'id': app.user.id}) }}"><i class="fa-solid fa-pen"></i>Cambiar contraseña</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path('salir') }}"><i class="fa-solid fa-power-off"></i>Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}